.footer{
    width: 100%;
    max-width: 100%;
    border-bottom: solid 11px #000;
    position: relative;
    padding-top: 10px;
    flex-direction: column;
    display: flex;
    margin-top: -10px;
    overflow: hidden;
    z-index: 54;
    .container-background{
        position absolute;
        max-width 516px;
        width 20%;
        height 100%;
        top: 0;
        img{
            width 100%;
            height: 100%;
            object-position: bottom;
        }
    }
    .container-contato-pai{
        width 100%;
        max-width 100%;
        box-shadow: 0 -3px 12px 0 rgba(0, 0, 0, 0.3);
        .container-padrao-contato-pai{
            width 100%;
            max-width 100%;
            display flex;
            justify-content: flex-end;
            padding-left: 20%;
            .container-padrao-contato{
                display flex;
                justify-content: space-between;
                width 1350px;
                max-width 100%;
                padding: 130px 160px 87px 0;
                margin: 0 auto;
                .container-contato{
                    width: 441px;
                    padding: 0 18px;
                    max-width 100%;
                    .container-logo{
                        max-width 100%;
                        width: 100%;
                        padding-bottom: 12px;
                        border-bottom: solid 3px #000000;
                        img{
                            height 23px;
                        }
                    }
                    .email, .telefone-texto, .endereco{
                        width: 100%;
                        max-width 100%;
                        display: flex;
                        margin-top 50px;
                        h1{
                            font-family: Open Sans;
                            font-size: 14px;
                            font-weight: bold;
                            line-height: 1.36;
                            color: #000000;
                            width 110px;
                            padding-right: 10px;
                            text-transform: uppercase;
                            padding-top: 4px;
                        }
                        p{
                            font-family: Open Sans;
                            font-size: 18px;
                            line-height: 1.78;
                            color: #000000;
                            white-space pre-line;
                        }
                    }
                }
                .container-formulario{
                    width 661px;
                    padding: 0 18px;
                    max-width 100%;
                    h1{
                        font-family: Charter;
                        font-size: 42px;
                        font-weight: bold;
                        line-height: 1.21;
                        color: #000000;
                    }
                    p{
                        font-family: Open Sans;
                        font-size: 18px;
                        line-height: 1.78;
                        color: #000000;
                        margin-top 55px;
                    }
                    form{
                        width 100%;
                        max-width 100%;
                        margin-top: 50px;
                        .container-nome{
                            width 100%;
                            max-width 100%;
                            display flex;
                            justify-content: space-between;
                            input{
                                width 48%;
                                max-width 100%;
                                font-family: Open Sans;
                                font-size: 18px;
                                line-height: 1.33;
                                color: #000000;
                                padding-bottom: 25px;
                                border none;
                                border-bottom: solid 3px #000000;
                                &::placeholder{
                                    font-family: Open Sans;
                                    font-size: 18px;
                                    line-height: 1.33;
                                    color: #000000;
                                }
                            }
                        }
                        .container-textarea{
                            width 100%;
                            max-width 100%;
                            height fit-content;
                            position relative;
                            margin-top: 65px;
                            border-bottom: solid 3px #000;
                            &:before{
                                content: '';
                                width 24px;
                                height 24px;
                                border-right: solid 12px #000;
                                border-top: solid 12px #ffffff;
                                border-left: solid 12px #ffffff;
                                border-bottom: solid 12px #000;
                                position absolute;
                                right 0;
                                bottom: 0;
                            }
                            textarea{
                                width: 100%;
                                max-width 100%;
                                height 150px;
                                font-family: Open Sans;
                                font-size: 18px;
                                line-height: 1.33;
                                color: #000000;
                                border none;
                                &::placeholder{
                                    font-family: Open Sans;
                                    font-size: 18px;
                                    line-height: 1.33;
                                    color: #000000;
                                }
                            }
                        }
                        button{
                            margin-top 40px;
                            background-color: #000000;
                            border solid 2px white;
                            display flex;
                            width: fit-content;
                            font-family: Open Sans;
                            font-size: 18px;
                            font-weight: bold;
                            line-height: 1.33;
                            color: #ffffff;
                            display flex;
                            padding: 20px 56px;
                            align-items: center;
                            transition: all .2s;
                            cursor pointer;
                            img{
                                max-width 100%;
                                max-width: 100%;
                                width: 34px;
                                object-fit: cover;
                                height: 21px;
                                margin-left: 25px;
                            }
                            &:hover{
                                filter invert(1);
                            }
                        }
                        span{
                            font-family: Open Sans;
                            font-size: 16px;
                            line-height: 1.55;
                            &.success{
                                color: #00AB66;
                            }
                        }
                    }
                }
            }
        }
    }
    .container-footer{
        width: 100%;
        max-width 100%;
        border-top: solid 1px #000;
        display flex;
        z-index 5;
        padding-left: 14%;
        .container-padrao{
            display flex;
            justify-content: space-around;
            align-items: center;
            margin: 25px auto;
            .container-copy{
                max-width 100%;
                p{
                    font-family: Open Sans;
                    font-size: 16px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.75;
                    letter-spacing: normal;
                    text-align: center;
                    color: #000000;
                }
            }
            .container-redes{
                display flex;
                padding: 0 9px 0 18px;
                a{
                    margin: 0 9px;
                    img{
                        width: 22px;
                        height: 22px;
                        min-width 22px;
                    }
                }
            }
        }
    }
}
@media(max-width: 1300px){
    .footer{
        .container-contato-pai .container-padrao-contato-pai .container-padrao-contato{
            padding: 130px 100px 87px 0;
            .container-contato{
                .container-logo img{
                    height 20px;
                }
                .email, .telefone-texto, .endereco{
                    h1{
                        font-size: 13px;
                        width 100px;
                    }
                    p{
                        font-size: 16px;
                    }
                }
            }
            .container-formulario{
                h1{
                    font-size: 38px;
                }
                p{
                    font-size: 16px;
                }
                form .container-nome input{
                    font-size: 16px;
                    &::placeholder{
                        font-size: 16px;
                    }
                }
                .container-textarea textarea{
                    font-size: 16px;
                    &::placeholder{
                        font-size: 16px;
                    }
                }
                button{
                    font-size: 16px;
                    padding: 15px 45px;
                }
            }
        }
        .container-footer .container-padrao .container-copy p{
            font-size: 13px;
        }
    }
}
@media(max-width: 1100px){
    .footer .container-contato-pai .container-padrao-contato-pai .container-padrao-contato{
        padding: 130px 18px 87px 0;
    }
}
@media(max-width: 900px){
    .footer .container-contato-pai .container-padrao-contato-pai .container-padrao-contato .container-formulario form{
        .container-nome{
            flex-direction: column; 
            input{
                width 100%;
                margin-top: 30px;
            }
        }
        .container-textarea{
            margin-top: 40px;
        }
        button{
            padding: 12px 30px;
        }
    }
}
@media(max-width: 768px){
    .footer{
        .container-background{
            height 500px;
            bottom: 0;
            top: unset;
        }
        .container-contato-pai .container-padrao-contato-pai{
            padding-left: 0%;
            .container-padrao-contato{
                padding: 130px 0px 87px 0;
                flex-direction: column;
                .container-contato .email, .telefone-texto, .endereco{
                    margin-top 35px;
                    h1{
                        width 90px;
                    }
                    p{
                        font-size: 14px;
                    }
                }
                .container-formulario{
                    margin-top 40px;
                    p{
                        margin-top: 25px;
                    }
                    form{
                        margin-top: 35px;
                        .container-textarea textarea{
                            height 100px;
                        }
                        button{
                            margin 40px auto 0;
                        }
                    }
                }
            }
        }
        .container-footer .container-padrao{
            .container-copy{
                max-width 100%;
                p{
                    font-size: 11px;
                }
            }
            .container-redes{
                display flex;
                padding: 0 0px 0 10px;
            }
        }
    }
}