.container-carrossel-pai{
    width: 100%;
    max-width 100%;
    height 100vh;
    margin-top: -125px;
    position relative;
    box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.2);
    .container-redes{
        position: absolute;
        bottom: 0%;
        .container-padrao-redes{
            margin: 0 auto;
            flex-direction: column;
            padding: 40px 0 40px 60px;
            display: flex;
            z-index 5;
            position: relative;
            a{
                cursor: pointer;
                font-family: Open Sans;
                font-size: 13px;
                font-weight: 600;
                width: 70px;
                line-height: 1.38;
                color: #000;
                display: flex;
                margin: 5px 0 50px;
                align-items: center;
                img {
                height: 20px;
                width 20px;
                }
            }
        }
    }
    .container-carrossel{
        width: 100%;
        height 100%;
        max-width 100%;
        .slick-list{
            height 100%;
            .slick-track{
                height 100%;
            }
        }
        .slick-dots{
            margin-top: -95px;
            width: 1100px;
            padding: 0 30px;
            max-width 100%;
            display: flex;
            margin: -100px auto 0;
            text-align: center;
            justify-content: flex-start;
            position: unset;
            li{
                width: 40px;
                height: 40px;
                border-radius 50%;
                display flex;
                align-items: center;
                justify-content: center;
                margin-right: 60px;
                &.slick-active{
                    border: solid 1.5px #000000;
                }
                button{
                    position: relative;
                    &:before{
                        opacity 1;
                    }
                }
            }
        }
        .container-banner{
            width: 100%;
            max-width 100%;
            height 100%;
            display flex;
            align-items: center;
            position relative;
            .container-background{
                width: 58%;
                max-width: 100%;
                position: absolute;
                height: 100%;
                z-index: -1;
                right: 0;
                display flex;
                justify-content: center;
                img{
                    max-width: 100%;
                    position: absolute;
                    object-position: left;
                    top: 0;
                    height: 100%;
                }
                .circulo{
                    width: 764px;
                    min-width: 764px;
                    height: 764px;
                    box-shadow: 0 -1px 20px 0 rgba(0, 0, 0, 0.16);
                    border-radius 50%;
                }
            }
            .container-padrao{
                width: 1100px;
                margin: 0 auto;
                max-width: 100%;
                padding: 0px 30px;
                .container-conteudo{
                    width: 486px;
                    max-width 100%;
                    h1{
                        font-family: Open Sans;
                        font-size: 16px;
                        font-weight: bold;
                        line-height: 1.38;
                        color: #000000;
                        padding-left 12px;
                        border-left solid 4px #000;
                    }
                    p{
                        font-family: Charter;
                        font-size: 51px;
                        font-weight: bold;
                        line-height: 1.22;
                        color: #000000;
                        margin-top 17px;
                        white-space pre-line;
                    }
                    .container-botao{
                        display flex;
                        width: fit-content;
                        margin-top 60px;
                        background-color: black;
                        transition: all .2s;
                        border: solid 2px #ffffff;
                        a{
                            font-family: Open Sans;
                            font-size: 18px;
                            font-weight: bold;
                            line-height: 1.33;
                            color: #ffffff;
                            padding 20px 56px;
                            display flex;
                            text-transform: uppercase;
                            align-items: center;
                            img{
                                max-width 100%;
                                max-width: 100%;
                                width: 34px;
                                object-fit: cover;
                                height: 21px;
                                margin-left: 25px;
                            }
                        }
                        &:hover{
                            filter invert(1);
                        }
                    }
                }
            }
        }
    }
}
.container-linhas-e-produtos{
    width: 100%;
    max-width 100%;
    position relative;
    overflow hidden;
    .container-circulo {
        position: absolute;
        width: 1357px;
        height: 1377px;
        margin-left: -468px;
        margin-top: -29px;
        border-radius: 50%;
        box-shadow: 0 -1px 20px 0 rgba(0, 0, 0, 0.16);
    }
    .container-linhas-de-produtos{
        width: 100%;
        max-width 100%;
        position relative;
        padding-left: 29%;
        .container-imagem-background{
            width: 100%;
            max-width 100%;
            height 100%;
            position absolute;
            left: 0;
            z-index -1;
            background: rgb(64,56,50);
            background: linear-gradient(326deg, rgba(64,56,50,1) 0%, rgba(83,73,66,1) 100%);
            img{
                width: 45%;
                margin-left: -200px;
                height: 100%;
                -o-object-fit: cover;
                object-fit: cover;
            }
        }
        .container-padrao-linha-pai{
            width: 1350px;
            max-width: 100%;
            padding: 66px 0 100px 0;
            margin: 0 auto;
            display: flex;
            .container-padrao-linha{
                width: 1060px;
                max-width: 100%;
                .container-texto{
                    width 804px;
                    max-width 100%;
                    padding: 0 18px;
                    display flex;
                    flex-direction: column;
                    align-items: center;
                    h1{
                        font-family: Open Sans;
                        font-size: 18px;
                        font-weight: bold;
                        line-height: 1.33;
                        letter-spacing: 1.8px;
                        text-align: center;
                        color: #ffffff;
                    }
                    h2{
                        font-family: Charter;
                        font-size: 42px;
                        font-weight: bold;
                        line-height: 1.21;
                        text-align: center;
                        color: #ffffff;
                        margin-top 10px;
                    }
                    p{
                        font-family: Open Sans;
                        font-size: 16px;
                        line-height: 2;
                        text-align: center;
                        color: #ffffff;
                        margin-top: 40px;
                    }
                }
                .container-linhas{
                    width 100%;
                    max-width 100%;
                    display: flex;
                    flex-wrap: wrap;
                    .container-linha{
                        width: 33%;
                        max-width: 100%;
                        margin: 95px 0px 0 0;
                        .container-conteudo-pai{
                            width 100%;
                            max-width 100%;
                            display flex;
                            padding-right: 40px;
                            .container-imagem{
                                width 55px;
                                height 55px;
                                margin-right: 17px;
                                img{
                                    max-width 100%;
                                }
                            }z
                            .container-conteudo{
                                width 227px;
                                max-width 100%;
                                h1{
                                    font-family: Open Sans;
                                    font-size: 16px;
                                    font-weight: bold;
                                    line-height: 1.38;
                                    color: #ffffff;
                                }
                                p{
                                    font-family: Open Sans;
                                    font-size: 14px;
                                    line-height: 1.57;
                                    color: #ffffff;
                                    margin-top 13px;
                                }
                            }
                            .container-conteudo:hover{
                                cursor: pointer;
                                h1 {
                                    text-decoration: underline;
                                }

                                p {
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .container-nossos-produtos{
        width 100%;
        max-width 100%;
        position relative;
        .container-background{
            position absolute;
            z-index -1;
            background-color: #f1f1f1;
            width 100%;
            max-width 100%;
            height 70%;
        }
        .container-padrao-produtos{
            width 1276px;
            max-width 100%;
            padding: 100px 18px 25px;
            display flex;
            flex-direction: column;
            align-items: center;
            margin 0 auto;
            h1{
                font-family: Charter;
                font-size: 42px;
                font-weight: bold;
                line-height: 1.21;
                text-align: center;
                color: #000000;
            }
            p{
                font-family: Open Sans;
                font-size: 18px;
                line-height: 1.78;
                text-align: center;
                color: #000000;
                width 844px;
                max-width 100%;
                margin-top 44px;
            }
            .container-produtos{
                width 100%;
                max-width 100%;
                display flex;
                justify-content: space-between;
                flex-wrap: wrap;
                margin-top 100px;
                .container-produto{
                    width 24%;
                    height: 372px;
                    img{
                        width 100%;
                        height 100%;
                    }
                }
            }
        }
    }
}
.container-sobre-e-revenda{
    width 100%;
    max-width 100%;
    position relative;
    .container-imagem-background{
        width: 55%;
        max-width: 1035px;
        position: absolute;
        right: 0;
        height: 100%;
        img{
            width 100%;
            height 100%;
            object-fit: cover;
        }
    }
    .container-revenda-pai{
        width: 100%;
        max-width: 100%;
        display: flex;
        padding-right: 44%;
        position: relative;
        justify-content: flex-end;
        .container-background{
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: -1;
            right: 0;
            display: flex;
            align-items: center;
            .circulo-1{
                width: 1067px;
                left: -561px;
                top: -189px;
                height: 1067px;
                opacity: .3;
                box-shadow: 0 -1px 20px 0 rgba(0, 0, 0, .16);
                background-color: #fff;
                position: absolute;
                border-radius: 50%;
            }
            .circulo-2{
                width: 764px;
                height: 764px;
                box-shadow: 0 -1px 20px 0 rgba(0, 0, 0, .16);
                background-color: #fff;
                position: absolute;
                right: 8%;
                border-radius: 50%;
            }
        }
        .container-padrao-revenda-pai{
            width: fit-content;
            max-width: 100%;
            padding: 250px 18px 100px;
            h1{
                font-family: Charter;
                font-size: 42px;
                font-weight: bold;
                line-height: 1.21;
                color: #000000;
            }
            p{
                font-family: Open Sans;
                font-size: 18px;
                line-height: 1.78;
                text-align: left;
                color: #000000;
                white-space: pre-line;
                margin-top 25px;
            }
            .container-revenda{
                width: 100%;
                display flex;
                margin-top: 75px;
                max-width 100%;
                .container-para-revender, .container-sua-lojista{
                    width: 313px;
                    max-width 100%;
                    margin-right: 60px;
                    img{
                        height 60px;
                    }
                    h1{
                        font-family: Charter;
                        font-size: 28px;
                        font-weight: bold;
                        line-height: 1.21;
                        color: #000000;
                        margin-top: 25px;
                    }
                    p{
                        font-family: Open Sans;
                        font-size: 18px;
                        line-height: 1.78;
                        color: #000000;
                        margin-top 26px;
                    }
                }
            }
            .container-whats{
                display flex;
                max-width 100%;
                width: fit-content;
                border: solid 3px #000000;
                background-color: #ffffff;
                margin-top 100px;
                transition: all .2s;
                a{
                    font-family: Open Sans;
                    font-size: 18px;
                    font-weight: bold;
                    line-height: 1.33;
                    color: #000000;
                    padding: 10px 56px;
                    display flex;
                    align-items: center;
                    img{
                        margin-left 25px;
                        width: 30px;
                        height: 30px;
                    }
                }
                &:hover{
                    filter invert(1);
                }
            }
        }
    }
    .container-sobre{
        width 100%;
        max-width 100%;
        background-color: #f1f1f1;
        padding-right: 42%;
        display flex;
        justify-content: flex-end;
        .container-padrao-sobre{
            width fit-content;
            max-width 100%;
            padding: 120px 18px 160px;
            .container-conteudo{
                width: 690px;
                max-width 100%;
                h1{
                    font-family: Charter;
                    font-size: 42px;
                    font-weight: bold;
                    line-height: 1.21;
                    color: #000000;
                }
                p{
                    font-family: Open Sans;
                    font-size: 18px;
                    line-height: 1.78;
                    color: #000000;
                    margin-top 45px;
                }
            }
        }
    }
}
.container-map-pai{
    width 100%;
    max-width 100%;
    position relative;
    display flex;
    flex-direction: column;
    align-items: center;
    #map{
        height 600px;
        width 100%;
    }
    .container-encontre{
        position absolute;
        top -20px;
        z-index: 1;
        p{
            font-family: Charter;
            font-size: 36px;
            font-weight: bold;
            line-height: 1.22;
            color: #000000;
            padding: 30px 50px;
            box-shadow: 0 3px 20px 0 rgba(0, 0, 0, .2);
            background-color: #fff;
            text-align: center;
        }
    }
    .container-seletor-pai{
        right: 46px;
        z-index: 1;
        top: 11px;
        position: absolute;
        padding-top: 11px;
        width: 328px;
        height: 74px;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .16);
        background-color: #fff;
        display: flex;
        justify-content: center;
        .container-seletor{
            width: 300px;
            height: fit-content;
            border: solid 2px #000000;
            background-color: #fff;
            .container-selected{
                width: 100%;
                height: fit-content;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 11px 32px;
                cursor: pointer;
                border-radius: 6px;
                p{
                    font-family: Open Sans;
                    font-size: 16px;
                    font-weight: bold;
                    color: #000000;
                }
                img{
                    width: 15px;
                    height: 13px;
                    transform: rotate(90deg);
                    transition: all .8s;
                    &.dropdown-ativo{
                        transform: rotate(-90deg);
                    }
                }
                &:hover{
                    background-color: ghostwhite;
                }
            }
            .container-options{
                width: 100%;
                max-height: 0px;
                overflow: hidden;
                transition: all .4s;
                .option{
                    cursor: pointer;
                    padding: 0 32px;
                    height: 44px;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    font-family: Open Sans;
                    font-size: 16px;
                    line-height: 2.13;
                    color: #000000;
                    border-top: solid 2px ghostwhite;
                    transition all .3s;
                    &:hover{
                        background-color: ghostwhite;
                    }
                }
                &.dropdown-ativo{
                    max-height: 1000px;
                }
            }
        }
    }
}
.modal-lightbox{
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 15%; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: hidden; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        border: 1px solid #888;
        width: fit-content;
        .modal-contatos{
            margin: 60px;
            display: flex;
            justify-content: center;
            font-family: Open Sans;
            line-height: 1.22;
            color: #000000;
            .modal-contato{
                h1 {
                    padding-bottom: 10px;
                    font-size: 28px;
                    font-weight: bold;
                }
                p {
                    font-family: Open Sans;
                    padding: 5px 0;
                    font-size: 15px;
                }
            }
        }
        
        .close {
            padding: 10px 20px;
            color: #aaaaaa;
            float: right;
            font-size: 32px;
            font-weight: bold;
        }
        .close:hover {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
    }
}

@media(max-width: 1350px){
    .container-map-pai{
        .container-encontre p{
            font-size: 32px;
            padding: 20px 35px;
        }
        .container-seletor-pai{
            width: 300px;
            .container-seletor{
                width: 270px;
            }
        }
    }
}
@media(max-width: 1300px){
    .container-carrossel-pai .container-carrossel .container-banner .container-padrao .container-conteudo{
        h1{
            font-size: 15px;
        }
        p{
            font-size: 42px;
        }
        .container-botao a{
            font-size: 16px;
            padding 18px 50px;
        }
    }
    .container-linhas-e-produtos{
        .container-linhas-de-produtos .container-padrao-linha-pai .container-padrao-linha{
            .container-texto{
                h1{
                    font-size: 16px;
                }
                h2{
                    font-size: 40px;
                }
                p{
                    font-size: 15px;
                }
            }
            .container-linhas .container-linha{
                width: 30%;
                margin-top 70px;
                .container-conteudo-pai{
                    padding-right: 20px;
                    .container-imagem{
                        width 45px;
                        height 45px;
                        margin-right: 15px;
                    }
                    .container-conteudo{
                        h1{
                            font-size: 15px;
                        }
                        p{
                            font-size: 13px;
                        }
                    }
                }
            }
        }
        .container-nossos-produtos .container-padrao-produtos{
            h1{
                font-size: 40px;
            }
            p{
                font-size: 16px;
            }
            .container-produtos{
                margin-top 80px;
            }
        }
    }
    .container-sobre-e-revenda{
        .container-revenda-pai{
            .container-padrao-revenda-pai{
                h1{
                    font-size: 40px;
                }
                p{
                    font-size: 17px;
                }
                .container-revenda{
                    .container-para-revender, .container-sua-lojista{
                        img{
                            height 50px;
                        }
                        h1{
                            font-size: 25px;
                            margin-top: 20px;
                        }
                        p{
                            font-size: 16px;
                            margin-top 20px;
                        }
                    }
                }
                .container-whats a{
                    font-size: 16px;
                    padding: 10px 46px;
                    img{
                        width: 25px;
                        height: 25px;
                    }
                }
            }
        }
        .container-sobre .container-padrao-sobre .container-conteudo{
            h1{
                font-size: 40px;
            }
            p{
                font-size: 16px;
            }
        }
    }
}
@media(max-width: 1250px){
    .container-carrossel-pai{
        .container-redes{
            display none;
        }
        .container-carrossel{
            .slick-dots{
                width: 900px;
                li{
                    margin-right: 30px;
                }
            }
            .container-banner{
                .container-background{
                    width: 50%;
                    align-items: center;
                    img{
                        object-position: bottom;
                    }
                    .circulo{
                        width: 600px;
                        min-width: 600px;
                        height: 600px;
                    }
                }
                .container-padrao{
                    width: 900px;
                }
            }
        }
    }
    .container-map-pai .container-encontre{
        left: 46px;
    }
}
@media(max-width: 1130px){
    .container-sobre-e-revenda{
        width 100%;
        max-width 100%;
        position relative;
        .container-imagem-background{
            img{
                object-fit: contain;
                object-position: bottom;
            }
        }
        .container-revenda-pai{
            .container-background{
                .circulo-1{
                    width: 900px;
                    height: 900px;
                }
                .circulo-2{
                    width: 573px;
                    height: 573px;
                    bottom: 0;
                    right: 0;
                }
            }
            .container-padrao-revenda-pai{
                h1{
                    font-size: 38px;
                }
                p{
                    font-size: 16px;
                }
                .container-revenda{
                    .container-para-revender, .container-sua-lojista{
                        margin-right: 35px;
                        img{
                            height 40px;
                        }
                        h1{
                            font-size: 28px;
                        }
                        p{
                            font-size: 15px;
                        }
                    }
                }
                .container-whats{
                    margin-top 60px;
                    a{
                        font-size: 15px;
                    }
                }
            }
        }
        .container-sobre .container-padrao-sobre .container-conteudo{
            h1{
                font-family: Charter;
                font-size: 38px;
            }
        }
    }
}
@media(max-width: 1000px){
    .container-linhas-e-produtos{
        .container-circulo {
            width: 1115px;
            height: 1115px;
            margin-left: -468px;
        }
        .container-linhas-de-produtos{
            padding: 0;
            .container-imagem-background{
                display: flex;
                align-items: flex-end;
                img{
                    width: 100%; 
                    margin-left: 0;
                    object-position: left;
                    height: 250px;
                    -o-object-fit: contain;
                    object-fit: contain;
                }
            }
            .container-padrao-linha-pai{
                padding: 66px 0 120px 0;
                .container-padrao-linha{
                    .container-texto{
                        margin: 0 auto;
                    }
                    .container-linhas{
                        justify-content: space-evenly;
                        .container-linha{
                            width: 27%;
                            margin: 50px 0px 0 0;
                            .container-conteudo-pai{
                                padding-right: 0px;
                            }
                        }
                    }
                }
            }
        }
    }
    .container-linhas-e-produtos .container-nossos-produtos .container-padrao-produtos{
        h1{
            font-size: 40px;
        }
        p{
            font-size: 16px;
        }
        .container-produtos{
            margin-top 80px;
        }
    }
    .container-map-pai .container-encontre p{
        font-size: 28px;
    }
}
@media(max-width: 950px){
    .container-carrossel-pai .container-carrossel .container-banner .container-background .circulo{
        width: 500px;
        min-width: 500px;
        height: 500px;
    }
    .container-sobre-e-revenda{
        .container-imagem-background{
            width: 40%;
        }
        .container-revenda-pai{
            padding-right: 0%;
            .container-background .circulo-2{
                display none;
            }
            .container-padrao-revenda-pai{
                margin: 0 auto;
            }
        }
        .container-sobre{
            padding-right: 30%;
        }
    }
}
@media(max-width: 850px){
    .container-map-pai{
        margin-top: -20px
        #map{
            margin-top 35px;
            height 600px;
        }
        .container-encontre{
            position unset;
            padding: 0 18px;
        }
        .container-seletor-pai{
            position: unset;
            margin-top: 45px;
        }
    }
}
@media(max-width: 768px){
    .container-carrossel-pai .container-carrossel{
        .slick-dots{
            li{
                align-items: center;
            }
        }
        .container-banner{
            .container-background{
                img{
                    height: 100%;
                }
                .circulo{
                    width: 450px;
                    min-width: 450px;
                    height:450px;
                }
            }
            .container-padrao .container-conteudo{
                h1{
                    font-size: 14px;
                }
                p{
                    font-size: 35px;
                }
                .container-botao a{
                    font-size: 14px;
                    padding 15px 45px;
                }
            }
        }
    }
    .container-linhas-e-produtos{
        .container-circulo {
            width: 1040px;
            height: 1040px;
            margin-left: -487px;
        }
        .container-linhas-de-produtos .container-padrao-linha-pai .container-padrao-linha .container-linhas .container-linha{
            width: 45%;
        }
    }
    .container-sobre-e-revenda{
        .container-revenda-pai{
            .container-padrao-revenda-pai{
                h1{
                    text-align: center;
                }
                p{
                    text-align: center;
                }
                .container-revenda{
                    .container-para-revender, .container-sua-lojista{
                        display flex;
                        flex-direction: column;
                        align-items: center;
                        h1{
                            text-align: center;
                        }
                        p{
                            text-align: center;
                        }
                    }
                }
                .container-whats{
                    margin 60px auto 0;
                }
            }
        }
        .container-sobre .container-padrao-sobre .container-conteudo{
            h1{
                text-align: center;
            }
        }
    }
}
@media(max-width: 700px){
    .container-linhas-e-produtos .container-nossos-produtos .container-padrao-produtos .container-produtos{
        justify-content: space-evenly;
        margin-top 50px;
        .container-produto{
            width 34%;
        }
    }
}
@media(max-width: 600px){
    .container-carrossel-pai .container-carrossel .container-banner .container-background{
        align-items: flex-end;
        .circulo{
            width: 350px;
            min-width: 350px;
            height: 350px;
        }
    }
    .container-linhas-e-produtos .container-linhas-de-produtos .container-padrao-linha-pai{
        padding: 66px 0 220px 0;
        .container-padrao-linha .container-linhas .container-linha .container-conteudo-pai{
            flex-direction: column;
            .container-imagem{
                display flex;
                justify-content: center;
                margin 0;
                width 100%;
                img{
                    max-width 100%;
                    height 100%;
                }
            }
            .container-conteudo{
                margin-top 20px;
                h1{
                    text-align: center;
                }
                p{
                    text-align: center;
                }
            }
        }
    }
    .container-linhas-e-produtos .container-nossos-produtos .container-padrao-produtos{
        h1{
            font-size: 35px;
        }
        p{
            font-size: 15px;
        }
        .container-produtos{
            justify-content: space-evenly;
            margin-top 50px;
            .container-produto{
                width 47%;
                height fit-content;
                margin-top: 20px;
            }
        }
    }
}
@media(max-width: 550px){
    .container-carrossel-pai .container-carrossel{
        .slick-dots li{
            margin-right: 18px;
        }
        .container-banner .container-background{
            width: 45%;
            img{
                bottom: 0;
                top: unset;
                height: 40%;
            }
        }
    }
}
@media(max-width: 500px){
    .container-carrossel-pai .container-carrossel .container-banner .container-background{
        align-items: flex-end;
        .circulo{
            width: 250px;
            min-width: 250px;
            height: 250px;
        }
    }
    .container-sobre-e-revenda{
        .container-revenda-pai .container-padrao-revenda-pai{
            .container-revenda{
                flex-direction: column;
                margin-top: 0px;
                .container-para-revender, .container-sua-lojista{
                    margin-top: 50px;
                    width 100%;
                }
            }
            .container-whats a{
                font-size: 14px;
                padding: 10px 30px;
                display flex;
                align-items: center;
            }
        }
        .container-sobre{
            padding-right: 0%;
            .container-padrao-sobre{
                width 100%;
                .container-conteudo p{
                    padding-right: 33%;
                }
            }
        }
    }
    .modal-lightbox{
        padding-top: 50%; 
        .modal-content {
            .modal-contatos{
                margin: 25px;
                .modal-contato{
                    h1 {
                        padding-bottom: 10px;
                        font-size: 18px;
                    }
                    p {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}