@import 'vars.styl';
.mostrar-menu {
  width:  100% !important;  
}
.scroll-block{
    max-width: 100%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: fixed;
}
.container-loading{
    max-width 100%;
    width 100vw;
    height 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f8ff;;
    position: absolute;
    z-index 9999;
    .conteudo{
        max-width 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        #logo{
            width: 200px;
        }
        #gif{
            margin-top: 30px;
            width: 70px;
            height 70px;
        }
    }
}
.header{
    width: 100%;
    max-width 100%;
    margin: 25px;
    .menu-lateral {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 9999;
        top: 0;
        left: 0;
        bottom: 0;
        background-color: #f6f5f6;
        transition: 0.95s;
        padding: 40px 0 20px;
        overflow hidden;
        padding-bottom: 150px;
        .after-container {
            width:100vw;
            height 100%;
            display: flex;
            justify-content: space-between;
            flex-flow: column wrap;
            .container-redes-pai{
                width: 100%;
                max-width 100%;
                .container-redes{
                    margin: 0 auto;
                    width: 100%;
                    max-width 100%;
                    display flex;
                    justify-content: center;
                    a{
                        width: fit-content;
                        height: fit-content;
                        img{
                            margin: 0 8px;
                            width: 25px;
                            height: 25px;
                        }
                    }
                }
                #copy{
                    font-family: Open Sans;
                    font-size: 14px;
                    line-height: 1.38;
                    color: #000000;
                    text-align: center;
                    margin-top: 40px;
                    padding: 0 18px;
                }
            }
            .fechar-menu {
                width: 100%;
                display: flex;
                justify-content: space-between;
                padding: 0 20px;
                align-items: center;
                img{
                    cursor: pointer;
                    width: 30px;
                    height 30px;
                }
                a .logo{
                    height 25px;
                    width fit-content;
                }
                .div-vazia{
                    width: 30px;
                    height 30px;
                }
            }
            .itens-responsivo {
                margin-top: 40px;
                width: 100vw;
                display: flex;
                flex-flow: column wrap;
                text-align: center;
                ul{
                    display flex;
                    flex-direction: column;
                    align-items: center;
                    li{
                        margin-top: 15px;
                        width: 170px;
                        display: flex;
                        a{
                            font-family: Open Sans;
                            font-size: 16px;
                            font-weight: bold;
                            line-height: 1.38;
                            color: #000000;
                            text-transform uppercase;
                        }
                    }
                }
            }
        }
    }
}
#navbar {
    overflow: hidden;
    display: block;
    .container-padrao {
        display flex;
        align-items: center;
        justify-content: space-between;
        padding: 30px;

        .container-logo {
            width 196px;
            max-width 100%;

            img {
                width: 100%;
            }
        }

        .container-menu {
            max-width 100%;
            display flex;
            z-index 5;
            cursor: pointer;

            img {
                width 31px;
                height 27px;
                margin-right: 30px;
            }

            p {
                font-family: Open Sans;
                font-size: 20px;
                font-weight: bold;
                line-height: 1.35;
                color: #000000;
            }
        }
    }
}

.sticky {
    background-color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.sticky+main {
    padding-top: 60px;
}

@media(max-width: 600px){
    #navbar .container-padrao{
        .container-logo{
            width 130px;
        }   
        .container-menu{
            img{
                width 27px;
                height 23px;
            }
            p{
                font-size: 16px;
            }
        }
    }
    .header .menu-lateral {
        padding-bottom: 40px;
        .after-container .container-redes-pai #copy{
            font-size: 10px;
        }
    }
}