@font-face {
    font-family: Charter;
    src: url("../../fonts/Charter.otf") format("opentype");
}
@font-face {
    font-family: CharterBold;
    src: url("../../fonts/Charter-Bold.otf") format("opentype");
}
@font-face {
    font-family: CharterItalic;
    src: url("../../fonts/Charter-Italic.otf") format("opentype");
}
@font-face {
    font-family: CharterBoldItalic;
    src: url("../../fonts/Charter-Blod-Italic.otf") format("opentype");
}

